:root {
  --color-primary: #0ea5e9;
  --color-primary-darker: #0284c7;
  --color-primary-ligther: #bae6fd;
  --color-secondary: #f59e0b;
  --color-secondary-ligther: #fbbf24;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
